<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>...</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <a href="/" class="btn btn-secondary">Back</a>
        <h1 id="title">...</h1>
        <p id="body">...</p>
    </div>

    <script>
        fetch(`/api/v1/admin/<%= id %>`)
        .then(raw => raw.json())
        .then(data => {
            console.log(data)
            let titleData = document.getElementById("title")
            let bodyData = document.getElementById("body")
            titleData.innerHTML = data.title
            bodyData.innerHTML = data.body
            document.title = data.title
        })
    </script>
</body>
</html>
