<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">

    <title>Document</title>
</head>
<body>
    <form action="">
        <div class="form-group">
            <label>Name</label>
            <input type="text" id="name" class="form-control">
        </div>
        <div class="form-group">
            <label>Email</label>
            <input type="text" id="email" class="form-control">
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="text" id="password" class="form-control">
        </div>
        <button type="submit" id="save">Save</button>
    </form>

    <script>
        let save = document.getElementById("form")
        form.onsubmit = function(e) {
            e.preventDefault()
            let name = document.getElementById("name").value
            let email = document.getElementById("email").value
            let password = document.getElementById("password").value
        }

        fetch("/api/v1/admin", {
            method: "POST",
            headers: {
                'content-type': 'application/json'
            },
            body: JSON.stringify({
                name: name,
                email: email,
                password: password,
            })
        }).then(() => {
            window.location.href = "/"
        })
    </script>
</body>
</html>