<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    <title>Document</title>
</head>
<body>
    <a href="/admin/form" class="btn">Create</a>
    <table class="table">
        <thread>
            <tr>
                <th>ID</th>
                <th>User ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Password</th>
                <th>Action</th>
            </tr>
        </thread>
        <tbody id="body"></tbody>
    </table>

    <script>
        fetch("/api/v1/admin", {
            method: "GET"
        }).then(res => res.json())
        then(data => {
            let body = document.getElementById("body")
            for (let i in data) {
                let admin = data[i]
                body.innerHTML += <tr>
                    <td>${admin.id}</td>
                    <td>${admin.user_id}</td>
                    <td>${admin.name}</td>
                    <td>${admin.email}</td>
                    <td>${admin.password}</td>
                    <td>
                        <a href="/admin/form/${admin.id}">Create</a>
                    </td>
                </tr>
            }
        })
    </script>
</body>
</html>